<h1>Shop::Carts#show</h1>
<p>Find me in app/views/shop/carts/show.html.erb</p>

<h2>Shopping cart</h2>
<% if shopping_cart.empty? %>
  Your shopping cart is empty.
<% else %>
  <table>
    
  </table>
<% end %>
