= paginate @abandoned_checkouts

table class="table table-striped"
  thead
    tr
      th = t('.number')
      th = t('.email')
      th = t('.date')
      th

  tbody
  - @abandoned_checkouts.each do |checkout|
      tr
        td = link_to "##{checkout.id}", checkout_path(checkout)
        td = checkout.email
        td = checkout.created_at
  tbody

br

= paginate @abandoned_checkouts