<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> <%= t('.notification_to')%> </h1>
    <p> <%=t('.notification_text')%> </p>
  </body>
</html>