= form_for([ @collection]) do |f|
  - if @collection.errors.any?
    div id="error_explanation"
      h2 = pluralize(@collection.errors.count, t('.error'))
      br = t('.prohibit')

      ul
      - @collection.errors.full_messages.each do |msg|
        li = msg

  div class="form-group"
    = f.label :name
    br
    = f.text_field :name, class: 'form-input'
  div class="form-group"
    = f.label :description
    br
    = f.text_area :description, class: 'form-input'

  hr
  h4 = t('.seo')
  div class="form-group"
    = f.label :page_title
    br
    = f.text_field :page_title, class: 'form-input'
  div class="form-group"
    = f.label :meta_description
    br
    = f.text_field :meta_description, class: 'form-input'
  div class="form-group"
    = f.label :handle
    br
    = f.text_field :handle, class: 'form-input'

  hr
  div class="form-group"
    = link_to t('.back'), collections_path, class: 'button-secondary'
    |
    = f.submit(class: 'button')
