p id="notice"
  = notice

= form_for [@shop], url: [:notifications_settings_update,:settings],
  method: :put do |f|

  h4
    i class="icon-bell"
    = t('.logo')

  div class="container-fluid"

    div class="row"
      div class="col-xs-3"
        div class="label_of_column"
          = t('.email_templates')
        div class='inf'
          = t('.email_templates_inf')

      div class="col-xs-9"
        table class="table table-bordered"
          thead
            tr
              th = t('.template')
              th = t('.description')

          tbody
            - @shop.email_templates.each do |template|
              tr
                td
                  = link_to template.name,
                      edit_settings_email_template_path(template.id)
                td
                  div class="inf"
                    = template.description
          br
    div class="row"
      div class="col-xs-4"
        div class="label_of_column"
          = t('.order_notifications')
        div class="inf"
          = t('.order_notifications_inf')
          = link_to t('.add_notification'), new_settings_subscriber_notification_path,
            class:'btn btn-default'

      div class="col-xs-8"
        table class="table"
          thead
          tr
            td = t('.title')
            td
            td

          tbody
            - @shop.subscriber_notifications.each do |subscriber|
              tr
                td
                  div class="inf"
                    = t('.send_to', notification_method: subscriber.notification_method)
                    br
                    = subscriber.subscription_address
                td = link_to(t('.send_test_notification'), :controller => "subscriber_notifications", :action => "send_test_notification", :id => subscriber.id)
                td = link_to t('.delete'), [ :settings, subscriber], method: :delete, data: { confirm: t('.confirmation') }