.button-admin-menu {
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-primary;
  font-weight: normal;
}

.button {
  @extend .btn;
  @extend .btn-lg;
  @extend .btn-primary;
  font-weight: normal;
}

.button-secondary {
  @extend .btn;
  @extend .btn-lg;
  @extend .btn-default;
  font-weight: normal;
}

.button-block {
  @extend .button;
  @extend .btn-block;
}