/*Checkouts*/

.control-label {
  background-color: #99CCFF;
  border-collapse: collapse;
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
}
.field_with_select {
  text-align: right;
  background-color: #F8F8F8;
  border-bottom: 1px dotted black;
}
.inf{
  color: gray;
  font-size: small;
}