<h3><i class="icon-dashboard"></i> Dashboard</h3>
<p class='lead'>Welcome to dashboard</p>
<h3><i class="icon-gift"></i> Products</h3>
<h3><i class="icon-tags"></i> Collections</h3>
<h3><i class="icon-barcode"></i> Orders</h3>
<h3><i class="icon-user"></i> Customers</h3>
