= paginate @customers

table class="table table-striped"
  thead
    tr
      th = t('.title')
      th

  tbody
  - @customers.each do |customer|
    tr
      td = link_to customer.email, [:admin, customer]
      td = link_to t('.delete'), [:admin, customer], method: :delete, data: { confirm: t('.confirmation') }
  tbody

br

= paginate @customers