div class="row"
  div class="col-xs-4"
    h4
      i class="icon-barcode"
      = t('.title')
  div class="col-xs-8 text-right"
      h4
      = link_to t('.checkouts'), admin_checkouts_path, class: 'button-admin-menu'

div class="row"
  - if @orders.blank? && !params[:page].present?
    = render partial: 'blank'
  - else
    = render partial: 'list'
