<div class="row">
  <div class="row">
    <div class="col-md-1 col-md-offset-8">
      <a href="#">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
  </div>
  <h4 class="text-center">Start your free 14-day trial of Shopify</h4>
  <div class="col-md-4 col-md-offset-4">
    <form>
      <div class="row">
        <input type="email" name="email-address" placeholder="Email address">
      </div>
      <div class="row">
        <input type="passwrod" name="password" placeholder="Password">
      </div>
      <div class="row">
        <input type="text" name="store-name" placeholder="Your store name">
      </div>
      <div class="row">
        <button type="button" class="btn btn-success pull-right">Create your store</button>
      </div>
    </form>
  </div>
</div>