<div class="row">
  <h2 class="text-center">Start your free 14-day trial today!</h2>
  <form class="form-inline">
    <div class="form-group col-xs-3">
      <input type="email" class="form-control" id="email_address" placeholder="Email address">
    </div>
    <div class="form-group col-xs-3">
      <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="form-group col-xs-3">
      <input type="text" class="form-control" id="store_name" placeholder="Your store name">
    </div>
    <button type="submit" class="btn btn-success col-xs-3">Create your store</button>
  </form>
</div>