<% active_conditions ||= {} %>
<li class="<%= 'active' if current_page?(active_conditions) %>">
  <%= link_to path do %>
    <i class="<%= icon_class %> icon-large"></i>
    <%= label %>
  <% end %>
</li>