<div class="row">
  <div class="col-md-7 col-md-offset-1">
		<h4><%= t('.heading') %></h4>
  	<p><%= t('.info') %></p>
  	<%= link_to t('.learn_more'), theme_store_learn_more_path%>
  </div>
  <div class="col-md-3">
  	<img src="https://themes.shopify.com/assets/graphics/sell-your-shopify-theme-71b3d67318b5592744b6ccc0bf74ebbf70cb034d618c051d811c8e1d17c22ed8.jpg" class="img-thumbnail" alt="Image">
  </div>
 </div>