<div class="row">
    <div class="col-md-7 col-md-offset-1">
  		<h4>Sell your own theme</h4>
    	<p>Every month thousands of merchants look for new themes to apply to their shop. The Theme Store is a great place for theme designers to showcase and monetize their design skills.</p>
    	<a href="#">Learn more</a>
    </div>
    <div class="col-md-3">
    	<img src="https://themes.shopify.com/assets/graphics/sell-your-shopify-theme-71b3d67318b5592744b6ccc0bf74ebbf70cb034d618c051d811c8e1d17c22ed8.jpg" class="img-thumbnail" alt="Image">
    </div>
  </div>