<main class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h6><%= t('.heading') %></h6>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-5"> 
        <a href="#" class="btn btn-success btn-sm"><%= t('.publish') %></a>
      </div>
      <span class="col-md-1"><%= t('.or') %></span>
      <div class="col-md-6"> 
        <a href="#"><u><%= t('.unpublish') %></u></a>
      </div>
    </div>
  </div>
</main>