// $baseFontSize: 18px;
// $baseLineHeight: 30px;

// $sansFontFamily: "Open Sans", "Trebuchet MS", sans-serif;

// $baseFontFamily: $sansFontFamily;
// $headingFontFamily: $sansFontFamily;
// $headingsFontFamily: $sansFontFamily;

// $footerHeight: 60px;


$container-desktop: 1008px;

$font-family-sans: "Open Sans", "Trebuchet MS", sans-serif;
$font-family-base: $font-family-sans;
$font-size-base: 18px;

$line-height-base: 1.667;

$global-color-dark: #2c3e50;
$global-color-light: #ecf0f1;
$global-color-primary: #3498db;
$global-color-highlight: #f1c40f;


@import "../base";

@import "twitter/bootstrap";

@import "font-awesome"; //import order is important here