<%= render 'shared/sort_search_header' %>
<div class="container">
	<div>
	  <h1 class="text-center">Choose a theme for your online store</h1>
	  <div class="row">
	    <div class="col-md-2 col-md-offset-5"><hr></div>
	  </div>
	  <h3 class="text-center">Responsive themes, easily customized to fit your brand
	  </h3>
	</div>
  <div class="row">
    <div class="col-md-4">
      <img src="https://s3.amazonaws.com/shopify-theme-store/screenshots/1034/main/optimized_large.jpg" class="img-thumbnail" alt="Image">
      <span>Name</span>
      <span class="pull-right">Price</span>
    </div>
    <div class="col-md-4">
      <img src="https://s3.amazonaws.com/shopify-theme-store/screenshots/1036/main/optimized_large.jpg" class="img-thumbnail" alt="Image">
      <span>Name</span>
      <span class="pull-right">Price</span> 
    </div>
    <div class="col-md-4">
      <img src="https://s3.amazonaws.com/shopify-theme-store/screenshots/737/main/optimized_large.jpg" class="img-thumbnail" alt="Image">
      <span>Name</span>
      <span class="pull-right">Price</span>  
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img src="https://s3.amazonaws.com/shopify-theme-store/screenshots/647/main/optimized_large.jpg" class="img-thumbnail" alt="Image">
      <span>Name</span>
      <span class="pull-right">Price</span>
    </div>
    <div class="col-md-4">
      <img src="https://s3.amazonaws.com/shopify-theme-store/screenshots/634/main/optimized_large.jpg" class="img-thumbnail" alt="Image">
      <span>Name</span>
      <span class="pull-right">Price</span> 
    </div>
    <div class="col-md-4">
      <img src="https://s3.amazonaws.com/shopify-theme-store/screenshots/636/main/optimized_large.jpg" class="img-thumbnail" alt="Image">
      <span>Name</span>
      <span class="pull-right">Price</span> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
    	<button class="btn btn-success">More themes</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1"><hr></div>
  </div>
  <%= render 'shared/sell_theme' %>
  <%= render "shared/get_started" %>
</div>