<main class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h6>You're about to install Jumpstart to store-name.magaz.com</h6>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-5"> 
        <a href="#" class="btn btn-success btn-sm">Publish as my shop's theme</a>
      </div>
      <span class="col-md-1">or</span>
      <div class="col-md-6"> 
        <a href="#"><u> install as an unpublished theme</u></a>
      </div>
    </div>
  </div>
</main>