<main class="container ">
  <div class="row">
    <div class="text-area">
      <div class="col-md-7">
        <div>
          <h1>Sell your own theme</h1>
          <p>
            <img src="https://themes.shopify.com/assets/graphics/theme_examples_update_2016-9d9bdc12d67a6d79e2e9546aa8504d44.png" alt="Image">
          </p>
          <h4 id="selling">Selling a theme in the Theme Store</h4>
          <p>
            Every month, thousands of merchants look for new themes for their online stores. The Theme Store is a great place for theme designers to showcase and monetize their design skills.
          </p>
          <h4 id="payout">What are the revenue share options for theme designers?</h4>
          <p>Theme designers have two options for revenue share:</p>
          <ol>
            <li>
              <h5>70/30 Split</h5>
              <p>The theme designer receives 70% of each theme sale. The theme designer is responsible for bug fixes, as well as answering any questions from customers regarding the theme. If you select this option, you may sell your theme through a personal channel, for example a company website, but not on open marketplaces.</p>
            </li>
            <li>
              <h5 id="50split">50/50 Split*</h5>
              <p>The theme designer receives 50% of each theme sale. The theme designer is still responsible for bug fixes, but Magaz can help answer any questions regarding the theme. If you select this option, you may not sell your theme through any other channels.</p>
            </li>
            <p>*The 50/50 Split option is taken on a case-by-case basis. Theme designers may be asked to select the 70/30 option should the theme review team feel it is the best choice. </p>
          </ol>
          <h4 id="what-kind">What kind of themes are accepted?</h4>
          <p>Beautiful aesthetics, an intuitive user experience, and a unique layout are key to your theme getting accepted.</p>
          <p>Submissions are rejected for: not meeting Magaz's design standards, including functionality that doesn’t carry over to the Magaz platform, being too similar to other themes in the Magaz Theme Store, being sold already on other markets/platforms, etc. Due to the increasing number of themes that are submitted, and the subjective nature of design, Magaz can’t give you detailed feedback as to why a theme was rejected.</p>
          <h4 id="review-process">The theme review process</h4>
          <p>To submit a theme, please email  <a href="mailto:themes@magaz.com">themes@magaz.com</a>. All theme submissions must include the following:</p>
          <ol class="numbered-list">
            <li>Designs (using Invision or a similar tool) that include a minimum of your theme's home page, collection page, product page, and cart page layouts on <strong>mobile and desktop</strong> screen sizes.</li>
            <li>An explanation of theme functionality. Any action that isn’t readily apparent in the mockups (for example: navigation drop downs, icons, popups, etc.) should include an explanation describing how it operates. We’d also like to know how you expect any unique areas of your theme to be set up in the online store editor by merchants.</li>
            <li><p><a href="#">A product brief</a>.</p></li>
            <li>A link to your portfolio website (optional).</li>
          </ol>
          <p>After you submit your theme, a member of the theme review team will contact you with a confirmation email stating that your theme has been received. After two business days, we’ll let you know if your theme has been accepted for further review.</p>
          <p>The theme review team wants to see your very best work. For this reason, theme submissions are limited to two per month.</p>
          <p>If the theme review team has approved your submission, you can start coding your theme. We expect to see the coded version within 8 weeks from the date the theme was accepted. Keep in mind that your theme must meet all of the requirements in our <a href="#checklist">Theme Review Checklists</a> in order to get published in the Magaz Theme Store.</p>
          <p>Once a theme has been built and approved, it may only be distributed via the Theme Store or your own independent channels (for example: a personal or company website). However, if your theme is on the <a href="#50split">50/50 Split</a> option, it may not be distributed through any other channels. Please do not distribute your theme on other marketplaces or third-party channels, or try to take customers away from the Theme Store. If you distribute the theme on your personal or company website you must keep the price of the theme equal to the Theme Store price.</p>
          <h4 id="support">Theme support</h4>
          <p>If there is a technical issue with your theme (for example: broken layout, dead link, logic error) you will be responsible for fixing the issue in a timely fashion. Critical bugs must be fixed immediately or your theme may be temporarily hidden.</p>
          <p>Themes will be removed from the Theme Store if they have made less than 25 sales in a 3 month time period. Theme developers are responsible for keeping their themes up-to-date with core Magaz features and any improved standards Magaz implements in the future. These can include improvements to the overall user experience, the user interface, accessibility, and more.</p>
        </div>
        <div>
          <h2 id="checklist">Theme Review Checklists</h2>
          <p>All themes must satisfy the <a href="#">Theme Store review checklists</a>. Please use these resources before submitting your theme:</p>
          <ul>
            <li><p><a href="#">Liquid file checklist</a> for your code.</p></li>
            <li><p><a href="#">Content checklist</a> for your online store editor content.</p></li>
          </ul>
        </div>
      </div>
    </div>
    <div class=nav-side-bar>
      <div class="col-md-5">
        <ul class="list-group">
          <a class="list-group-item" href="#selling">Selling a theme in the Theme Store</a>
          <a class="list-group-item"  href="#payout">What are the payout options for theme designers?</a>
          <a class="list-group-item"  href="#what-kind">What kind of themes are accepted?</a>
          <a class="list-group-item"  href="#review-process">The theme review process</a>
          <a class="list-group-item"  href="#support">Theme support</a>
          <a class="list-group-item"  href="#checklist">Theme Review Checklists</a>
        </ul>
      </div>
    </div>
  </div>
  <%= render "shared/get_started" %>
</main>