<main class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
      <h4><%= t('.heading') %></h4>
      <p>
        <a href="#" class="btn btn-success"><%= t('.button') %></a>
      </p>
    </div>
  </div>
</main>