<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <h1>Name</h1>
      <h4>price</h4>
      <p>Pipeline is a clean and powerful theme – carefully tuned for mobile, tablet, and retina devices. Simplify your navigation with a powerful multi-level dropdown and build a beautiful homepage with full-bleed photos. Pipeline allows your products to shine with a clean minimal design, while giving your customers a great experience on any device.</p>
      <button class="btn btn-success">Preview in your store</button><br>
      <a href="#">By theme</a>
      <a href="#">View demo</a>
      <hr>
      <h4>Who supports this theme?</h4>
      <p>This theme was made and supported by Corknine.</p>
      <a href="#">Support</a>
      <a href="#">Documentation</a>
      <a href="#">Terms of Service</a>
    </div>
    <div class="col-md-6">
      <img src="https://s3.amazonaws.com/shopify-theme-store/screenshots/911/main/original.jpg" class="img-thumbnail" alt="Image">
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <h3>Includes 2 styles</h3>
    </div>  
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <img src="https://s3.amazonaws.com/shopify-theme-store/screenshots/955/main/optimized_large.jpg" class="img-thumbnail" alt="Image">
      <p>Name</p>
    </div>
    <div class="col-md-3">
      <img src="https://s3.amazonaws.com/shopify-theme-store/screenshots/988/main/optimized_large.jpg" class="img-thumbnail" alt="Image">
      <p>Name</p>  
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <h3>Stores using this theme</h3>
    </div>  
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <img src="https://s3.amazonaws.com/shopify-theme-store/screenshots/225/theme_example/original.png" class="img-thumbnail" alt="Image">
    </div>
    <div class="col-md-2">
      <img src="https://s3.amazonaws.com/shopify-theme-store/screenshots/240/theme_example/original.png" class="img-thumbnail" alt="Image"> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <h4>Reviews</h4>
    </div>
    <div class="col-md-5">
      <button class="btn btn-success pull-right">Write a review</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1 col-md-offset-1">
      <span class="glyphicon glyphicon-thumbs-up center-block" aria-hidden="true"></span>
    </div>
    <div class="col-md-4">
      <p>Simply Kickass! This is a great theme with all the elements you need to get started. The support has also been prompt and helpful. Look forward to seeing what this team dreams up next.</p>
      <p>— CHA CHA TEA</p>
    </div>
    <div class="col-md-1">
      <span class="glyphicon glyphicon-thumbs-up center-block" aria-hidden="true"></span>
    </div>
    <div class="col-md-4">
      <p>Great clean theme with quick and friendly support! Highly recommended.</p>
      <p>— best_shopper</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1 col-md-offset-1">
      <span class="glyphicon glyphicon-thumbs-up center-block" aria-hidden="true"></span>
    </div>
    <div class="col-md-4">
      <p>Simply Kickass! This is a great theme with all the elements you need to get started. The support has also been prompt and helpful. Look forward to seeing what this team dreams up next.</p>
      <p>— CHA CHA TEA</p>
    </div>
    <div class="col-md-1">
      <span class="glyphicon glyphicon-thumbs-down center-block" aria-hidden="true"></span>
    </div>
    <div class="col-md-4">
      <p>Great clean theme with quick and friendly support! Highly recommended.</p>
      <p>— worth_shopper</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <h4>More themes by <a>Author</a></h4>
    </div>  
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <img src="https://s3.amazonaws.com/shopify-theme-store/screenshots/955/main/optimized_large.jpg" class="img-thumbnail" alt="Image">
      <span>Name</span>
      <span class="pull-right">price</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <button class="btn btn-success">More themes</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <h4>More <a>Health & Beaty templates</a></h4>
    </div>  
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-md-4">
          <img src="https://s3.amazonaws.com/shopify-theme-store/screenshots/900/main/optimized_large.jpg" class="img-thumbnail" alt="Image">
          <span>Name</span>
          <span class="pull-right">price</span>
        </div>
        <div class="col-md-4">
          <img src="https://s3.amazonaws.com/shopify-theme-store/screenshots/806/main/optimized_large.jpg" class="img-thumbnail" alt="Image">
          <span>Name</span>
          <span class="pull-right">price</span>
        </div>
        <div class="col-md-4">
          <img src="https://s3.amazonaws.com/shopify-theme-store/screenshots/695/main/optimized_large.jpg" class="img-thumbnail" alt="Image">
          <span>Name</span>
          <span class="pull-right">price</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <button class="btn btn-success">More themes</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h3>Write a review</h3>
      <p>Please make sure you <a>contact the theme author</a> before posting a negative review so they can try to resolve your issue.</p>
      <hr>
      <p>HOW DOES THIS THEME MAKE YOU FEEL?</p>
      <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
      <p>WHAT DO YOU THINK OF THIS THEME?</p>
      <textarea class="form-control" rows="4"></textarea>
      <p>Max 400 characters. Min 30 characters.</p>
      <button class="btn btn-success">Submit review</button>
    </div>
  </div>
</div>