p id="notice"
  = notice

= form_for [:admin, @shop], url: [:notifications_settings_update,:admin,:settings],
  method: :put do |f|

  h4
    i class="icon-bell"
    = t('.logo')

  div class="container-fluid"

    div class="row"
      div class="col-xs-3"
        div class="label_of_column"
          = t('.email_templates')
        div class='inf'
          = t('.email_templates_inf')

      div class="col-xs-9"
        table class="table table-bordered"
          thead
            tr
              th = t('.template')
              th = t('.description')

          tbody
            / temperory fix
            - if !@shop.email_templates.blank?
              - @shop.email_templates.each do |t|
                tr
                  td
                      = link_to t.name,
                        edit_admin_settings_email_template_path(t.id)
                  td
                    div class="inf"
                      = t('.sent_to_subscrimer')
            br
    div class="row"
      div class="col-xs-4"
        div class="label_of_column"
          = t('.order_notifications')
        div class="inf"
          = t('.order_notifications_inf')
          = link_to 'Add an order notification', new_admin_settings_subscriber_notification_path,
            class:'btn btn-default'

      div class="col-xs-8"
        table class="table"
          thead
          tr
            td = 'Notification'
            td
            td

          tbody
            - @shop.subscriber_notifications.each do |subscriber|
              tr
                td
                  div class="inf"
                    = 'Send to '
                    = subscriber.notification_method
                    br
                    = subscriber.subscription_address
                td = link_to(t('.send_test_notification'), :controller => "subscriber_notifications", :action => "send_test_notification", :id => subscriber.id)
                td = link_to t('.delete'), [:admin, :settings, subscriber], method: :delete, data: { confirm: t('.confirmation') }

    div class="row"
      div class="col-xs-4"
        div class="label_of_column"
          = t('.webhooks')
        div class="inf"
          = t('.webhooks_inf')
        = button_to 'Create a webhook','#', class:'btn btn-default'

      div class="col-xs-8"
        table class="table"
          thead
          tr
            td = t('.event')
            td = t('.callback_URL')
            td = t('.format')