<!DOCTYPE html>
<html>
<head>
  <title>Magaz</title>
  <meta name="viewport" 
    content="width=device-width, initial-scale=1.0"/>  

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    "application", 
        media: "all", 
        "data-turbolinks-track" => true %>
  
  <%= javascript_include_tag "application", 
        "data-turbolinks-track" => true,
        defer: "defer" %>
  
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

</body>
</html>
