= paginate @webhooks

table class="table table-striped"
  thead
    div class="inf"
      = t('.webhooks_inf')
    tr
      th = t('.event')
      th = t('.callback_URL')
      th = t('.format')

  tbody
    - @webhooks.each do |webhook|
      tr
        td = link_to webhook.topic, [webhook]
        td = webhook.address
        td = webhook.format
        td = link_to t(".send_test_notification"), "#"
        td = link_to t('.delete'), [webhook], method: :delete, data: { confirm: t('.confirmation') }

br

= paginate @webhooks
